name: Publish to Packages

on:
  release:
    types:
      - released

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
        source-url: https://nuget.pkg.github.com/myblueprint-spaces/index.json
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build -c Release --no-restore /p:Version=${{ github.event.release.tag_name }}
    - name: Pack
      run: dotnet pack -c Release /p:Version=${{ github.event.release.tag_name }}
    - name: Push
      run: |
        dotnet nuget push MyBlueprint.PapierMirror/bin/Release/MyBlueprint.PapierMirror.${{ github.event.release.tag_name }}.nupkg -k $NUGET_AUTH_TOKEN